[submodule "neovim"]
	path = neovim
	url = https://github.com/dennisszhou/kickstart.nvim
[submodule "everything-claude-code"]
	path = everything-claude-code
	url = git@github.com:dennisszhou/everything-claude-code.git
